torch
torchvision
torchaudio

accelerate
transformers
datasets
trl
peft
unsloth
unsloth-zoo

bitsandbytes
triton
flash-attn

sentencepiece
protobuf
tensorboard
scipy
numpy
pandas
pyarrow
psutil
packaging
ninja
